<script src="{{ config.JAIKALKI_ROOT}}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="{{ config.JAIKALKI_ROOT}}/assets/vendor/aos/aos.js"></script>
  <script src="{{ config.JAIKALKI_ROOT}}/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="{{ config.JAIKALKI_ROOT}}/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="{{ config.JAIKALKI_ROOT}}/assets/vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Main JS File -->
  <script src="{{ config.JAIKALKI_ROOT}}/assets/js/main.js"></script>