
   <div class="theme-settings card bg-gray-800 pt-2 collapse" id="theme-settings">
    <div class="card-body bg-gray-800 text-white pt-4">
        <button type="button" class="btn-close theme-settings-close" aria-label="Close" data-bs-toggle="collapse"
            href="#theme-settings" role="button" aria-expanded="false" aria-controls="theme-settings"></button>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <p class="m-0 mb-1 me-4 fs-7">Please Contact <br>
                <a href="https://wa.me/918655402556" class="text-white" target="_blank">
                    <span role="img" aria-label="whatsapp">8655402556</span>
                </a>
            </p>
        </div>
        <a href="https://wa.me/918655402556" target="_blank"
            class="btn btn-success d-inline-flex align-items-center justify-content-center mb-3 w-100">
            <i class="fab fa-whatsapp me-2"></i> WhatsApp Support
        </a>
    </div>
</div>

<div class="card theme-settings bg-gray-800 theme-settings-expand" id="theme-settings-expand">
    <div class="card-body bg-gray-800 text-white rounded-top p-3 py-2">
        <span class="fw-bold d-inline-flex align-items-center h6">
            <i class="fab fa-whatsapp me-2"></i> WhatsApp Support
        </span>
    </div>
</div>
