
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    Gravity Dashboard - {% block title %}{% endblock %} |
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="120x120" href="{{ config.ASSETS_ROOT }}/img/logo.jpg">
<link rel="icon" type="image/png" sizes="32x32" href="{{ config.ASSETS_ROOT }}/img/logo.jpg">
<link rel="icon" type="image/png" sizes="16x16" href="{{ config.ASSETS_ROOT }}/img/logo.jpg">
<link rel="manifest" href="{{ config.ASSETS_ROOT }}/img/logo.jpg">
<link rel="mask-icon" href="{{ config.ASSETS_ROOT }}/img/logo.jpg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<link type="text/css" href="{{ config.ASSETS_ROOT }}/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<link type="text/css" href="{{ config.ASSETS_ROOT }}/vendor/notyf/notyf.min.css" rel="stylesheet">
<link type="text/css" href="{{ config.ASSETS_ROOT }}/css/volt.css" rel="stylesheet">

<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    {% include 'includes/sidebar.html' %}
    
    <main class="content">

      {% include 'includes/navigation.html' %}

      {% block content %}{% endblock content %} 

      {% include 'includes/settings-box.html' %}

      {% include 'includes/footer.html' %}

    </main>

  {% include 'includes/scripts.html' %}
    
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}  
      
</body>
</html>
