
{% extends "layouts/jaikalki_layout.html" %}

{% block title %}


  <!-- Title -->
  <title>Contact Us - Jaikalki Technology Pvt Ltd</title>

  <!-- Meta Tags -->
  <meta name="description" content="Get in touch with Jaikalki Technology Pvt Ltd for top-notch web design, development, and digital solutions. Reach out to us for inquiries, support, or partnership opportunities.">
  <meta name="keywords" content="Contact Jaikalki Technology, Jaikalki Technology contact, web design services, digital solutions, Mumbai, support, inquiries">
  <meta name="robots" content="index, follow">

  <!-- Open Graph Meta Tags -->
  <meta property="og:site_name" content="Jaikalki Technology Pvt Ltd">
  <meta property="og:title" content="Contact Us - Jaikalki Technology Pvt Ltd">
  <meta property="og:description" content="Connect with Jaikalki Technology Pvt Ltd to discuss your web design, development, or digital solution needs. We're here to assist you.">
  <meta property="og:image" content="https://jaikalki.com/static/assets_jaikalki/assets/img/contact-og-img.jpg">
  <meta property="og:url" content="https://jaikalki.com/contact-us">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@JaikalkiTech">
  <meta name="twitter:title" content="Contact Us - Jaikalki Technology Pvt Ltd">
  <meta name="twitter:description" content="Reach out to Jaikalki Technology Pvt Ltd for expert web design and digital solutions. We're ready to help you.">
  <meta name="twitter:image" content="https://jaikalki.com/static/img/contact-us.jpg">

  <!-- Canonical Link -->
  <link rel="canonical" href="https://jaikalki.com/contact.html">
{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Contact Us</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/index.html">Home</a></li>
            <li class="current">Contact Us</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->

  </main>



 {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}