
{% extends "layouts/jaikalki_layout.html" %}

{% block title %}
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Title -->
  <title>Privacy policy - Jaikalki Technology Pvt Ltd</title>

  <!-- Meta Tags -->
  <meta name="description" content="Learn more about Privacy policy offered by Jaikalki Technology Pvt Ltd.">
  <meta name="keywords" content="privacy policy, Jaikalki Technology">
  <meta name="robots" content="index, follow">

  <!-- Open Graph Meta Tags -->
  <meta property="og:site_name" content="Jaikalki Technology Pvt Ltd">
  <meta property="og:title" content="Privacy policy - Jaikalki Technology Pvt Ltd">
  <meta property="og:description" content="Learn more about Privacy policy offered by Jaikalki Technology Pvt Ltd.">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://jaikalki.com/privacy_policy">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@JaikalkiTech">
  <meta name="twitter:title" content="Privacy policy - Jaikalki Technology Pvt Ltd">
  <meta name="twitter:description" content="Learn more about Privacy policy offered by Jaikalki Technology Pvt Ltd.">
  <meta name="twitter:image" content="">

  <!-- Canonical Link -->
  <link rel="canonical" href="https://jaikalki.com/privacy.html">
{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Privacy Policy</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Privacy Policy</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
 <section id="starter-section" class="starter-section section">
      <div class="container" data-aos="fade-up">

<h2>All rights regarding Cancellations, Returns and Refunds are up to merchants</h2>

     <span>Last updated on 17th Jan 2025</span>

<p>We care about your privacy and are committed to protecting your personal data shared on our platform including website, web application and mobile application, and any payment processing platforms including the platforms hosted by us, one or more of the payment mechanisms provided through the merchant platforms/ websites or our checkout pages ("Platform"), including the steps we take to protect your Personal Information (including Sensitive Personal Information). The term websites, and Platforms include all pages that are sub-domains or are associated or exist within a website or Platform etc. Should we ask you to provide certain information by which you can be identified when using this website, application or any other Platform; then you can be assured that it will only be used in accordance with this Privacy Policy.</p><p>

The law of land made provisions to draft the Terms and Conditions, Privacy policy, and Cookies policy to use the Internet of things. We follow the provisions of Rule 3 and 4 of the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021, and are an ‘electronic record’ as contemplated under section 2(t) of the Information Technology Act, 2000 and the Rules there under. These Terms being an electronic record are generated by a computer system and do not require any physical or digital signatures.</p><p>

The Platform “GURUTVAPAY” has been introduced by Jaikalki Technology Pvt. Ltd itself, a Private Limited Firm having its office at Sh N B1/A Grd Flr Mahavir, Ngr, Deepak Hospital, Mira Road, Thane, 401107, Maharashtra, (hereinafter referred to as "Owner", “We”, “GurutvaPay” or “Us”) to facilitate online services in which gurutvapay provide services related to Software Development, Rankboost, Payment Solution etc. to the customers/merchants.</p><p>

This Privacy Policy sets out how Jaikalki Technology Pvt. Ltd.  (“GURUTVAPAY”) collects, uses, stores, shares and protects any information that you provide when you use this website, all related websites, applications, services and any other Platform.</p><p>

This Privacy Policy is applicable to the businesses, products or services of Jaikalki Technology Pvt. Ltd.</p><p>

By accessing the websites, Platforms and/or using products or services provided by Jaikalki Technology Pvt. Ltd., you agree and accept our Privacy Policy (“Privacy Policy”). This Platform is owned and operated by Jaikalki Technology Pvt. Ltd. (hereinafter referred to as “Company” or "We" or "Us” or “Our”). By using the websites, Platforms, and/or having used or using the products or services offered by Jaikalki Technology Pvt. Ltd., directly or indirectly, in the past, present or future, you expressly consent to our use and disclosure of your Personal Information and Sensitive Personal Information submitted to us in accordance with this Privacy Policy. You further acknowledge and accept that your consent herein shall also be applicable to your Personal Information and Sensitive Personal Information submitted to us, directly or indirectly, in the past.</p><p>

For the purpose of this Privacy Policy and wherever the context so requires and depending on the circumstances and the use of our Services, "you" or “your” might refer to the End Customer, the Merchant, or the Visitor / Guest:

We refer to you as an "End Customer" whenever you directly use an End Customer Service for your own personal use (usually a merchant's customer utilizing Service Provider/Jaikalki Technology Pvt. Ltd. Payment Solutions, for example when you buy a product or avail a service from a merchant that uses Service Provider/Jaikalki Technology Pvt. Ltd. for payment processing), but we do not directly do business with you.</p><p>

We refer to you as a "Merchant" when we engage in a direct business relationship with you i.e when you do business with, or otherwise transact with, or avail the Service Provider/Jaikalki Technology Pvt. Ltd. Payment Solutions or any other service provided by Jaikalki Technology Pvt. Ltd.</p><p>

When you visit a website or connect with Jaikalki Technology Pvt. Ltd. in any other way, we refer to you as a "Visitor / Guest." This is because you are not signed into a Jaikalki Technology Pvt. Ltd. account when you visit the website. (Let's say you're thinking about becoming a user of Jaikalki Technology Pvt. Ltd.'s Services, so you decide to send them a message asking for additional information so that you can make an informed decision.)</p><p>

This privacy statement will inform you how we handle your personal data, your privacy rights and how the law protects you. Please read this privacy statement carefully before using our Services.

Jaikalki Technology Pvt. Ltd. may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. The revised version will be effective at the time we post it and, following such posting, your continued use of the “Website” will constitute your express consent to us continuing to process your Personal Information in accordance with the terms of our revised privacy policy.</p><p>

          <h1>INFORMATION WE COLLECT</h1>
We may collect the following information:

1.1. Name, Trade Name, Brand Name, Legal Name, age, gender, etc. Identification Documents including but not limited to identity proof, address proof, photographs, Permanent Account Number, GST Number, etc. required for the verification of your identity, contact information including permanent and current address, email address, mobile / telephone numbers, shipping and billing details and any other information provided by you while making any purchase on our website / applications / any other platform (“Personal Information”).</p><p>

1.2. Demographic information such as postcode, preferences and interests.</p><p>

1.3. Details of transactions you carry out through our Platform and of the fulfilment of your
       orders including but not limited to name of the transacting parties, a description of the
       transactions, the payment or transfer amounts, billing and shipping information, and the
       devices and payments or transfer amounts used to complete the transactions.</p><p>


1.4. User Information, user activity, sensitive personal data such as financial information
including but not limited to details of credit cards, debit cards, bank account in tokenized form (“Sensitive Personal Information”) as mentioned in detail in our Terms and Condition and know your customer (KYC) documents.</p><p>

1.5. Other information including but not limited to your IP address and standard web log
       information relevant to an application for our services.</p><p>

1.6. Statistics on page views, computer sign on data, traffic to and from www.jaikalki.com as well as on our mobile applications on iOS and Android and response to advertisement when applicable.</p><p>

1.7. Any other Information we consider necessary to enhance your experience on the Platform and to provide the highest possible level of security and service to you.</p><p>

2. We hold your Personal Information on servers and by providing us with Personal Information, you consent to the transfer of your Personal Information to, and its storage on, our servers.</p><p>
3. For collecting, processing (including using and storing), disclosing or sharing your Sensitive Personal Information as described in this Privacy Policy, we hereby through this Policy, seek your consent and give you a notice regarding collecting, processing (including using and storing), and sharing your Sensitive Personal Information for one or more of the purposes detailed herein. For any purposes where, as per applicable laws of India, a specific consent is required, we will seek such specific consent from you from time to time.</p><p>

Note: The User shall have an option to delete any information provided by the User including Personal Information. If a User opts for the said option of deletion in terms of applicable law, Jaikalki Technology Pvt. Ltd. may delete all stored information of the User from its servers to the extent permissible under the applicable laws however Jaikalki Technology Pvt. Ltd. shall have the right to retain your personal information for a certain period of time to collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigations, prevent fraud, or take other actions as required or permitted by law.</p><p>



<h1>MINOR'S INFORMATION</h1>
Our Services are intended for a general audience and are not targeted toward minors (less than 18 years old). Jaikalki Technology Pvt. Ltd. does not voluntarily or actively collect, use or disclose Personal Information (including Sensitive Personal Information) of minors without the prior consent of the parents or guardians of the minor. If we have actual knowledge that any information we collect or receive has been supplied by a person younger than the age of 18 without the consent of parents or guardians, we will delete such information forthwith of the same coming to the knowledge of the Company.</p><p>




</p><h1>WHAT WE DO WITH YOUR INFORMATION</h1><p>
We may use the information shared by you as follows:</p><p>

1.1. During the registration for successful creation and verification of your account.</p><p>

1.2. To verify the legitimate existence of your business and operations. Please note that in terms of the guidelines issued by Reserve Bank of India on Know your customer and Anti Money Laundering (KYC-AML Guidelines), we need to obtain your Personal Information to verify your legitimate existence before offering our services to you.</p><p>

1.3. To process and validate the authenticity of your business to the extent permissible by law.</p><p>

1.4. To process payment transactions</p><p>

1.5. To improve our products and services.</p><p>

1.6. To resolve disputes, collect fees (if applicable), and to troubleshoot problems to make the website / applications / platforms better for you.</p><p>
1.7. To send a notification through SMS or email after each successful transaction.</p><p>

1.8. For our marketing promotions within our company, subject to your consent.</p><p>

1.9. To periodically send promotional emails about new products, special offers or other
        information.</p><p>

1.10. To compare for verification with third party service providers assisting us with the operations of the business of Jaikalki Technology Pvt. Ltd. (such as fraud investigations, bill collection, affiliate and rewards programs).</p><p>

1.11. To share the information with our subsidiaries, joint ventures or other companies under a common control (collectively the “Affiliates”) that Jaikalki Technology Pvt. Ltd. may have now or in the future, in which case they will honor this Privacy Policy.</p><p>

1.12. Share the Personal Information to our business partners like NBFCs, FIs and other partner banks, any other third-party authorized service providers, with your consent, in consonance with the applicable laws for the time being in force. However, Gurutvapay Consultancy shall not take any responsibility for any misuse of information by such channel partner / partner banks, business partners and third-party authorized service providers. We encourage you to read such third parties’ privacy Policy to learn more on how they process your Personal Information.</p><p>

1.13. To share the information with the third parties in a good faith belief that such disclosure is reasonably necessary to:</p><p>

1.13.1. Take action regarding suspected illegal activities;</p><p>

1.13.2. Enforce or apply our terms and conditions and Privacy Policy;</p><p>

1.13.3. Comply with the legal process including but not limited to search warrant, subpoena, court order; Please note that we are not required to question or contest the validity of any search warrant, subpoena or other similar governmental request that we receive.</p><p>

1.13.4. In order to comply with anti-money laundering laws that exist in various jurisdictions including Prevention of Money Laundering Act, 2002, as applicable to the host Country, we reserve the right to report any suspicious / required transactions or data to federal, state, provincial or local authorities and law enforcement agencies within those jurisdictions. Accordingly, you hereby grant us the right to report any transactions which we deem suspicious, as determined solely by Jaikalki Technology Pvt. Ltd. acting in its sole discretion.</p><p>

1.13.5. To protect our rights, reputation, and property or that of our User,
            Affiliates, or the   public.</p><p>

1.14. To share information in the aggregate to third parties relating to User behavior in
          connection with actual or prospective business relationship with those third parties, such as advertisers and content distributors.</p><p>

1.15. To improve our Services and to deliver a better and more personalized service to you.</p><p>
1.16. We may use your Internet protocol (or IP) address which is a unique number assigned to your computer server or your Internet service provider (or ISP) to analyze user trends and improve the administration of the website / applications / any other platform.</p><p>

1.17. From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customize the website / applications / any other platform according to your interests.</p><p>



<h1>RETENTION OF INFORMATION</h1><p>
We are required under applicable laws to retain certain records for a period of at least 5 (five) years after the end of your relationship with Jaikalki Technology Pvt. Ltd., which will include your personal data such as your name, contact details, customer number and transaction history, etc. ("Retained Data"). Other than the Retained Data, we will delete and destroy all Personal Information that we hold about you post the end of our relationship with you.</p><p>

In general, we will only keep your information for as long as is required to either continue providing you with the Services or to comply with the applicable laws. However, even after you deactivate your account, we may preserve copies of information about you and any transactions or Services in which you may have engaged for a duration that is consistent with applicable law, applicable statute of limitations, or as we feel is reasonably required to comply with any law, regulation, legal process, or governmental request, to identify or prevent fraud, to recover fees owing, to settle disputes, to fix problems with our services, etc.</p><p>



</p><h1>SECURITY</h1><p>
We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online. We take every precaution to safeguard and secure all the information we collect online from unauthorized access, use or disclose. However, the internet is not a secure medium and we cannot guarantee the privacy of your Personal Information.</p><p>

Every time you want to access your account on our website or to make a financial transaction, we suggest you enter your username and password each time. Choose your password carefully. Never share your username and password with anyone.</p><p>

If you are concerned that your username and/or password is compromised, please contact us or our customer support team immediately and ensure to change your password by accessing the profile settings.</p><p>

</p><h1>COPYRIGHT</h1><p>
The content and text published by third party website operators on Jaikalki Technology Pvt. Ltd. are subject to the Indian copyright law. The duplication, revision, dissemination and all forms of usage of content beyond the copyright limits require a written approval of the respective author and/or creator. Downloads and copies of the aforementioned content is only allowed for private and non-commercial use. If the content posted on Jaikalki Technology Pvt. Ltd. did not come from the website operator itself, the third-party copyright rules shall apply. All third-party content is marked as such. Should there be any copyright infringement on Jaikalki Technology Pvt. Ltd., kindly contact us and provide us with corresponding evidence. In cases of declaration of violation of rights, Jaikalki Technology Pvt. Ltd. will delete the concerned content at the soonest possible time.</p><p>



</p><h1>HOW WE USE COOKIES</h1><p>
A cookie is a small file, which asks permission to be placed on your computer's hard drive. Once you agree, the file is added, and the cookie helps analyze web traffic or lets you know when you visit a particular website. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. Please refer to our Jaikalki Technology Pvt. Ltd. Cookie Policy for further information.</p><p>




</p><h1>YOUR RIGHTS</h1><p>
We ensure that you may exercise your individual privacy rights under applicable privacy and data protection laws and as per our Privacy Policy. You have the following rights with regards to the Personal Information shared on the website, applications and any other platform, which is subjected to the laws relating to data sharing in India(“India”)</p><p>



Right to request access to your personal data (commonly known as a “data subject access request”). This enables you to receive a copy of the personal data we hold about you and to check that we are lawfully processing it.</p><p>



Right to request correction of any of the data we have about you. This enables you to have any incomplete or inaccurate data we hold about you corrected, though we may need to verify the accuracy of the new data you provide to us.</p><p>



Right to withdraw your consent to the processing of your personal data at any time. This does not affect the legality of any processing we have already carried out based on the consent given previously.</p><p>




</p><h1>GENERAL PROVISIONS</h1>
If we decide to change our privacy policy, we will post those changes to this privacy statement on the homepage and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.</p><p>

We reserve the right to modify this privacy statement at any time, so please review it periodically. If we make material changes to this policy, we will notify you here or by email, or by means of a notice on our home page.</p><p>

It is your obligation to regularly check the Privacy Policy. Your continued use of the Platform following any such change constitutes your agreement to this Privacy Policy as so modified.</p>
      </div>
 </section>

  </main>

 {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}