
{% extends "layouts/home_layout.html" %}

{% block title %}  {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page Header Start -->
<div style="margin-top: 10rem !important; ">
    <div class="container mt-5 py-5  bg-white" >
        <h1 class="text-center">Terms of Use</h1>
        <p>The Terms and Conditions/Terms of Use contained hereinafter (“Terms”) shall apply to the users of the website
        <a href="https://gravitydigi.com" target="_blank">https://gravitydigi.com</a>, Gravity DigiPayment Consultancy mobile applications,
        and any other linked pages, products, software, API(s), features, content, or application services (“Services”)
        offered from time to time (collectively referred to as “Platform”/ “Website”) by Gravity DigiPayment Consultancy
        (“Gravity DigiPayment Consultancy”, or “we” or “our” or “us”).</p>

        <p>Any individual or business (“you” or “Merchant”), logging in to or using the Website (even when such person
        does not avail of any services provided in the Website) shall be presumed to have read and unconditionally and
        irrevocably accepted the Terms set herein for usage of Services of Gravity DigiPayment Consultancy.</p>

        <p>By continuing to use the Website, you are legally bound by these Terms, and if you do not agree to any of the
        conditions listed below, please do not use the platform or Services of Gravity DigiPayment Consultancy any further.</p>

        <h2>Definition</h2>
        <p>For the purpose of these Terms, the following words and phrases shall have the meaning assigned under this article.</p>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong>1. Acquiring Bank:</strong> Shall mean a bank or financial institution that processes credit or debit card payments on behalf of any Merchant.
            </li>
            <li class="list-group-item">
                <strong>2. Authentication:</strong> Shall mean the process by which Customer identification is authenticated in the Processing Mechanism.
            </li>
            <li class="list-group-item">
                <strong>3. Application Form:</strong> Shall mean an application submitted by the Merchant to Gravity DigiPayment Consultancy for availing the Services which shall include the data shared by you while logging in the Platform of Gravity DigiPayment Consultancy and filling in the requisite data/details for the purpose of availing the Services. All such data or details whether given in parts either in pull or push mode shall be considered an integral part of the Application Form.
            </li>
            <li class="list-group-item">
                <strong>4. Authorization:</strong> Shall mean the process by which the availability of requisite balances/limit (to conduct the transaction requested) and approval of the Direct Debit Service Providers on the Customer’s Debit Card or Bank Account is established in the Processing Mechanism.
            </li>
            <li class="list-group-item">
                <strong>5. Chargeback:</strong> Shall mean an approved and settled Transaction that an Issuer, upon receiving a chargeback request from a Customer, reverses to a Payment Service Provider for the Transaction value to be ultimately reversed to the Customer, subject to the Merchant being unable to provide an explanation along with documentary evidence as to why the chargeback request should be rejected in accordance with applicable laws.
            </li>

             <li class="list-group-item">
                <strong>6. Customer Payment Amount:</strong> Shall mean the total amount paid by the Customer towards the Merchant Services which shall include, inter alia, charges and other taxes, duties, costs, charges, Gravity DigiPayment Consultancy Fees and expenses in respect of the Merchant Services.
            </li>
            <li class="list-group-item">
                <strong>7. Customer:</strong> Shall mean any person or entity who is buying a product or service from a third-party website (Merchant’s website), mobile application and is paying using Gravity DigiPayment Consultancy payment instruments.
            </li>
            <li class="list-group-item">
                <strong>8. Data Protection Law:</strong> Means all applicable statutes and regulations pertaining to the processing of personal data, including but not limited to the privacy and security of personal data.
            </li>
            <li class="list-group-item">
                <strong>9. Fees or Charges:</strong> Shall mean such fee that has been agreed between the Parties payable by the Merchant to Gravity DigiPayment Consultancy or directly chargeable by Gravity DigiPayment Consultancy to the Customer of the Merchant for Gravity DigiPayment Consultancy Services, and as detailed in LOI (Letter of Intent) hereto.
            </li>
            <li class="list-group-item">
                <strong>10. Issuing bank:</strong> Shall mean a bank that issues and authorizes the card or net banking privilege to its customers.
            </li>
            <li class="list-group-item">
                <strong>11. Merchant or User:</strong> Shall mean any person or business entity using the services or products of Gravity DigiPayment Consultancy and uses application, products, APIs and collects/disburses payments to an end customer.
            </li>
            <li class="list-group-item">
                <strong>12. Merchant Website:</strong> Shall mean the online platform (with the domain name as stated in the Application Form/Legal Agreement (if any)) which is established by the Merchant for the purposes of enabling the Customers to carry out Transactions for availing Services.
            </li>
            <li class="list-group-item">
                <strong>13. Merchant Services:</strong> Shall mean the services or products provided by the Merchant to its Customer/s, the remittance/payment for which is to be made through the Customer’s valid accounts/cards or bank account, using Gravity DigiPayment Consultancy’s Platform.
            </li>
            <li class="list-group-item">
                <strong>14. Nodal Account:</strong> Shall mean an intermediary account governed and operated by the acquiring bank and that is directed for merchant settlements by Gravity DigiPayment Consultancy. All guidelines of this account are established under the “Payments and settlements Act, 2007”, stated by Reserve Bank of India (RBI).
            </li>
            <li class="list-group-item">
                <strong>15. Payment Gateway Network:</strong> Shall mean the hardware, software, platform of Gravity DigiPayment Consultancy and telecommunications tools necessary to perform protocol conversion between different networks or applications and all associated software required for the Merchant to submit Authorization and data capture transactions to the payment service providers and to transmit Authorization and settlement transactions between the Merchant and the payment service providers.
            </li>
            <li class="list-group-item">
                <strong>16. Payment Gateway:</strong> Shall mean the protocol that may be stipulated by Gravity DigiPayment Consultancy to enable the Authentication of Customers and the Authorization of payments on valid cards in accordance with the Processing Mechanism.
            </li>
            <li class="list-group-item">
                <strong>17. Personal Data:</strong> Shall mean personal data as may be defined under Data Protection Law.
            </li>
            <li class="list-group-item">
                <strong>18. Products and Services:</strong> Shall mean the services listed on Gravity DigiPayment Consultancy including the services mentioned over the website or related pages of <a href="https://gravitydigi.com" target="_blank">https://gravitydigi.com</a>.
            </li>
            <li class="list-group-item">
                <strong>19. Terms and Conditions:</strong> Shall mean these terms and conditions under this Agreement, and any and all schedules, appendices, annexure and exhibits attached to it and includes any addition, modification, amendment, addendum or deletion thereof agreed to in writing by the Parties.
            </li>
            <li class="list-group-item">
                <strong>20. Token:</strong> Shall mean the string of randomly generated numbers which shall be unique for each combination of card generated through Tokenization.
            </li>
            <li class="list-group-item">
                <strong>21. Tokenization:</strong> Shall mean the process of replacement of the card details with a unique alternate code known as Tokens to improve the safety and security of card transactions. The process of Tokenization has been mandated vide the following circulars:
                <ul>
                    <li>21.1. RBI/2021-22/96- CO.DPSS.POLC.No.S-516/02-14-003/2021-22 (07-09-2021)</li>
                    <li>21.2. RBI/2021-22/92- CO.DPSS.POLC.No.S-469/02-14-003/2021-22 (25-08-2021)</li>
                    <li>21.3. RBI/2018-19/103- DPSS.CO.PD.No.1463/02.14.003/2018-19 (08-01-2019)</li>
                </ul>
            </li>
            <li class="list-group-item">
                <strong>22. Transaction:</strong> Shall mean a financial transaction conducted by the Customer through Gravity DigiPayment Consultancy Services. Reference - <a href="https://www.rbi.org.in/scripts/NotificationUser.aspx?Mode=0&Id=5379" target="_blank">RBI Reference</a>
            </li>
            <li class="list-group-item">
                <strong>23. Two-factor authentication:</strong> Shall mean a two-step verification system, wherein the first level shall be through a cardholder’s Debit or Credit Card issued by an Issuing Bank and the second level of authentication shall be the validation of the cardholder’s mobile number through OTP (One Time Password).
            </li>
             </ul>
             <h3>Sign Up and Registration</h3>
         <ul  class="list-group list-group-flush">
             <li class="list-group-item">
            <strong>1.</strong>
You affirm that you are at least Eighteen years of age and are fully able and competent to understand the terms, conditions, obligations, affirmations, representations, and warranties set forth in these terms, and to abide by and comply with these terms.
                 </li>
             <li class="list-group-item">
            <strong>2.</strong>

                 You affirm that you are eligible to contract under applicable laws and you are further authorised under law to avail our Services, the details of which you have provided in our Website.
                       </li>

             <li class="list-group-item">
            <strong>3.</strong> If you are using or accessing the Website as a representative of any person/entity, you acknowledge that you are legally authorised to represent such person/entity.
        </li>
        <li class="list-group-item">
            <strong>4.</strong> You represent and warrant that You have full power and authority for using the Services and are in strict compliance with all laws.
        </li>
        <li class="list-group-item">
            <strong>5.</strong> These Terms as accepted by you shall be read along with and in addition to the laws in force from time to time.
        </li>
        <li class="list-group-item">
            <strong>6.</strong> You agree to use the Services and this Website only if you accept and abide by all of the following Terms.
        </li>
        </ul>
        <h3>Sign Up and Registration</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>1.</strong> In order to avail the Services, You must be registered with Gravity DigiPayment Consultancy.
        </li>
        <li class="list-group-item">
            <strong>2.</strong> You shall provide Gravity DigiPayment Consultancy with all the necessary documents as required for successful identification, registration, and verification.
        </li>
        <li class="list-group-item">
            <strong>3.</strong> By registering, you agree to provide true, accurate, current, and complete information. Gravity DigiPayment Consultancy reserves the right to reject your registration or terminate access if this condition is not met.
        </li>
        <li class="list-group-item">
            <strong>4.</strong> We may collect the following information:
            <ul class="list-group">
                <li class="list-group-item">4.1. Name, Trade Name, Brand Name, Legal Name, etc.</li>
                <li class="list-group-item">4.2. Contact information, including email address, identity proof, address proof, and other verification documents.</li>
                <li class="list-group-item">4.3. Contract information such as billing and shipping details.</li>
                <li class="list-group-item">4.4. Demographic information such as postcode, preferences, and interests.</li>
                <li class="list-group-item">4.5. Details of transactions and order fulfilment.</li>
                <li class="list-group-item">4.6. User activity, financial information (credit/debit card, bank account details), and KYC documents as required by law.</li>
                <li class="list-group-item">4.7. IP address and web log information relevant to our services.</li>
                <li class="list-group-item">4.8. Statistics on page views, traffic, and advertisement responses.</li>
                <li class="list-group-item">4.9. Any other information necessary to enhance your experience on the Platform.</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>5.</strong> We store your personal information on our servers, and by registering, you consent to this storage.
        </li>
        <li class="list-group-item">
            <strong>6.</strong> A user account will be created upon registration, which includes username, password, and other provided identifying information.
        </li>
        <li class="list-group-item">
            <strong>7.</strong> We may use your Identifying Information for the following purposes:
            <ul class="list-group">
                <li class="list-group-item">7.1. Verification of your account through banks and service providers.</li>
                <li class="list-group-item">7.2. Validating the authenticity of your business.</li>
                <li class="list-group-item">7.3. Resolving disputes and improving our services.</li>
                <li class="list-group-item">7.4. Sending notifications after successful transactions.</li>
                <li class="list-group-item">7.5. Marketing promotions within our company, upon your consent.</li>
                <li class="list-group-item">7.6. Sharing information with Affiliates and third parties as necessary for operations.</li>
                <li class="list-group-item">7.7. Using IP addresses to analyze user trends and improve the website.</li>
                <li class="list-group-item">7.8. Contacting you for market research or other purposes as per our privacy policy.</li>
            </ul>
        </li>
        <li class="list-group-item">
            <strong>8.</strong> You are responsible for any actions initiated through your User Account.
        </li>
    </ul>

    <h3>Use of Services</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>1.</strong> The Services may be used by You for making and receiving payments to/from third parties.
        </li>
        <li class="list-group-item">
            <strong>2.</strong> A URL with login credentials will be provided to you, and you accept sole responsibility for maintaining the confidentiality of these credentials.
        </li>
        <li class="list-group-item">
            <strong>3.</strong> Gravity DigiPayment Consultancy reserves the right to verify transactions through basic KYC verification.
        </li>
        <li class="list-group-item"><strong>4.</strong> You shall at all times take all appropriate steps, including those as mentioned herein, to maintain the security and confidentiality of the information.</li>
    <li class="list-group-item"><strong>5.</strong> Gravity DigiPayment Consultancy shall not be liable for any mistake or misuse of the services by either You or by any person authorized by You, or by any person gaining access to the services through You.</li>
    <li class="list-group-item"><strong>6.</strong> You agree that Gravity DigiPayment Consultancy accepts all instructions originating from your account in good faith and in a manner consistent with commercially reasonable security standards.</li>
    <li class="list-group-item"><strong>7.</strong> You hereby agree to indemnify and hold Gravity DigiPayment Consultancy harmless for direct or indirect losses sustained as a result of the disclosure of sensitive information by or through You.</li>


    </ul>
        <h2>Payment Options</h2>
<ul>
    <li>8. You can receive payments from customers or other payers or suppliers by:
        <ul>
            <li>8.1. IMPS/ NEFT/ RTGS or</li>
            <li>8.2. Credit/ Debit cards or</li>
            <li>8.3. Netbanking and/or</li>
            <li>8.4. UPI for both collections and payables</li>
            <li>8.5. Any other modes of payment through banks accepted by Gravity DigiPayment Consultancy from time to time under these Terms.</li>
        </ul>
    </li>
    <li>9. On receiving the necessary details from the Banks, Gravity DigiPayment Consultancy shall initiate the required payment to You/ Customers as instructed by Customer/ You.</li>
    <li>10. Confirmation of the transaction performed using valid login credentials shall be conclusive evidence of a transaction being affected.</li>
    <li>11. You shall be responsible for providing Gravity DigiPayment Consultancy with the appropriate and current customer information.</li>
    <li>12. To improve the security of card transactions and as per the RBI mandate, the sensitive data of the cards and cardholder making payments to You shall be stored in the form of Tokens. You shall be responsible for any non-compliance with RBI guidelines regarding card data or Tokens misuse.</li>
    <li>13. If the payment is in respect of a product purchase by the Customer, Gravity DigiPayment Consultancy is not responsible for ensuring the delivery of the purchased products.</li>
    <li>14. Any complaints regarding a transaction must be communicated to Gravity DigiPayment Consultancy within 10 days of such a transaction.</li>
</ul>

<h2>Gravity DigiPayment Consultancy as an Intermediary</h2>
<ul>
    <li>1. Any purchase or payment done/received from a user/You is an agreement solely between the Customer and You on the Gravity DigiPayment Consultancy Website.</li>
    <li>2. Gravity DigiPayment Consultancy is merely an intermediary and platform provider, not a party to any transaction or responsible for the goods/services, authentication, or logistical support.</li>
</ul>

<h2>Chargebacks</h2>
<ul>
    <li>1. A Chargeback refers to a transaction that is returned to the acquiring bank/Gravity DigiPayment Consultancy by a customer or issuing bank for refund due to:
        <ul>
            <li>1.1. Payment refusal by the Customer due to defects or unsatisfactory products, or duplicate payments.</li>
            <li>1.2. Payments returned by the acquiring bank for any reason.</li>
            <li>1.3. Alleged hacking or breach of security/encryption by Gravity DigiPayment Consultancy or Customer.</li>
            <li>1.4. Unsuccessful transactions.</li>
        </ul>
    </li>
    <li>2. Once a payment is initiated through the Services, it may not be possible to retract it.</li>
    <li>3. To attempt a chargeback/retraction, the Customer must notify their bank and Gravity DigiPayment Consultancy immediately with all required information.</li>
    <li>4. Chargebacks are possible for debit/credit card payments if notified within the prescribed time, but not for other payment modes.</li>
    <li>5. If a chargeback situation arises, You must resolve the issue with the Customer within 45 days.</li>
    <li>6. If unresolved within 45 days, Gravity DigiPayment Consultancy may credit the disputing Customer's account directly without further dispute.</li>
</ul>

<h2>Settlements</h2>
<ul>
    <li>1. In consideration of the services rendered, You agree to pay a non-refundable fee, apart from Chargebacks, for all services listed on the Gravity DigiPayment Consultancy platform.</li>
    <li>2. A one-time setup fee and/or service fee is agreed upon during sign-up.</li>
    <li>3. Fees may be revised periodically.</li>
    <li>4. Payments will be transmitted from the Nodal account to your bank account within T+2 or T+3 working days, where "T" is the transaction date.</li>
    <li>5. You will receive an invoice with GST details, and applicable taxes must be paid according to Indian law.</li>
</ul>

<h2>Termination</h2>
<ul>
    <li>1. If Gravity DigiPayment Consultancy suspects a breach of terms, fraud, or dishonesty, it may suspend payments, deactivate your account, and terminate access to services.</li>
    <li>2. You may cancel your account at any time by email, but Gravity DigiPayment Consultancy reserves the right to refuse to return any data stored on its servers.</li>
    <li>3. Gravity DigiPayment Consultancy reserves the right to hold payouts based on complaints from banks or authorities.</li>
</ul>

    </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
